.bar {
  height: 50px;
}

.but {
  height: 100%;
  width: 33%;
  border-radius:12px 0 12px 0;
	background: #d34836;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
}

.premier {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
}

.seconde {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
}

.result {
  margin-left: 20px;
}
